[submodule ".vim/bundle/surround"]
    path = .vim/bundle/surround
    url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ack"]
    path = .vim/bundle/ack
    url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/fugitive"]
    path = .vim/bundle/fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/gist"]
    path = .vim/bundle/gist
    url = https://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/repeat"]
    path = .vim/bundle/repeat
    url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/unimpaired"]
    path = .vim/bundle/unimpaired
    url = http://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/gundo"]
    path = .vim/bundle/gundo
    url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/yankring"]
    path = .vim/bundle/yankring
    url = https://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/tabular"]
    path = .vim/bundle/tabular
    url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/file-line"]
	path = .vim/bundle/file-line
	url = https://github.com/bogado/file-line.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/matchtag"]
	path = .vim/bundle/matchtag
	url = https://github.com/gregsexton/MatchTag.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "virtualenv-burrito"]
	path = virtualenv-burrito
	url = https://github.com/brainsik/virtualenv-burrito
[submodule "git-hg-again"]
	path = git-hg-again
	url = https://github.com/bbinet/git-hg-again.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-bundle-mako"]
	path = .vim/bundle/vim-bundle-mako
	url = git://github.com/sophacles/vim-bundle-mako.git
[submodule ".fonts/ttf-dejavu-powerline"]
	path = .fonts/ttf-dejavu-powerline
	url = git://gist.github.com/3098433.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = git://github.com/tmhedberg/matchit.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/splitjoin.vim"]
	path = .vim/bundle/splitjoin.vim
	url = git://github.com/AndrewRadev/splitjoin.vim.git
[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/ZoomWin"]
	path = .vim/bundle/ZoomWin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule ".vim/bundle/vim-fakeclip"]
	path = .vim/bundle/vim-fakeclip
	url = git://github.com/kana/vim-fakeclip.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "submodules/cq"]
	path = submodules/cq
	url = git://github.com/twpayne/cq.git
[submodule "submodules/google-closure-library"]
	path = submodules/google-closure-library
	url = git://github.com/jarib/google-closure-library.git
[submodule "submodules/gjstags"]
	path = submodules/gjstags
	url = git://github.com/bbinet/gjstags.git
[submodule ".vim/bundle/quickfixsigns_vim"]
	path = .vim/bundle/quickfixsigns_vim
	url = git://github.com/tomtom/quickfixsigns_vim.git
[submodule ".vim/bundle/colorv.vim"]
	path = .vim/bundle/colorv.vim
	url = git://github.com/Rykka/colorv.vim.git
[submodule "submodules/git-submodule-tools"]
	path = submodules/git-submodule-tools
	url = git://github.com/kollerma/git-submodule-tools.git
[submodule ".vim/bundle/tabman.vim"]
	path = .vim/bundle/tabman.vim
	url = git://github.com/kien/tabman.vim.git
[submodule ".vim/bundle/linediff.vim"]
	path = .vim/bundle/linediff.vim
	url = git://github.com/AndrewRadev/linediff.vim.git
[submodule "submodules/autoenv"]
	path = submodules/autoenv
	url = git://github.com/kennethreitz/autoenv.git
[submodule ".vim/bundle/vim-angry"]
	path = .vim/bundle/vim-angry
	url = git://github.com/b4winckler/vim-angry.git
[submodule ".vim/bundle/csv.vim"]
	path = .vim/bundle/csv.vim
	url = git://github.com/chrisbra/csv.vim.git
[submodule ".vim/bundle/LaTeX-Box"]
	path = .vim/bundle/LaTeX-Box
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule ".vim/bundle/SQLUtilities"]
	path = .vim/bundle/SQLUtilities
	url = git://github.com/vim-scripts/SQLUtilities.git
[submodule ".vim/bundle/align.vim"]
	path = .vim/bundle/align.vim
	url = git://github.com/createwindow/vimScripts_align.vim.git
[submodule ".vim/bundle/vim-tabber"]
	path = .vim/bundle/vim-tabber
	url = git://github.com/fweep/vim-tabber.git
[submodule ".vim/bundle/vim-sleuth"]
	path = .vim/bundle/vim-sleuth
	url = git://github.com/tpope/vim-sleuth.git
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = git://github.com/mattn/emmet-vim.git
[submodule ".vim/bundle/vim-jinja"]
	path = .vim/bundle/vim-jinja
	url = git://github.com/mitsuhiko/vim-jinja.git
[submodule ".vim/bundle/salt-vim"]
	path = .vim/bundle/salt-vim
	url = git://github.com/saltstack/salt-vim.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = git://github.com/vimwiki/vimwiki.git
[submodule ".vim/bundle/DrawIt"]
	path = .vim/bundle/DrawIt
	url = git://github.com/vim-scripts/DrawIt.git
[submodule "submodules/vagrant-bash-completion"]
	path = submodules/vagrant-bash-completion
	url = git://github.com/kura/vagrant-bash-completion.git
[submodule ".vim/bundle/jshint.vim"]
	path = .vim/bundle/jshint.vim
	url = git://github.com/wookiehangover/jshint.vim.git
